.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 30px auto 0 auto;
    width: 80%;
    max-width: 600px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.container h1 {
    color: #333;
    margin-bottom: 20px;
}

#changePasswordForm {
    display: flex;
    flex-direction: column;
}

#changePasswordForm > div {
    max-width: 180px;
    margin: 0 auto;
}

#changePasswordForm input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

#changePasswordForm p {
    margin-top: 10px;
}

#message {
    color: red;
    font-weight: bold;
}

#changeBtn, #profileBtn {
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
}

#changeBtn {
    background-color: #242424;
    color: #fff;
    width: 169px;
}

#profileBtn {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 13.33px;
}

#changeBtn:hover {
    background-color: black;
    transition: .4s;
}

#profileBtn {
    background-color: #fff;
    color: #242424;
    border: 1px solid #ddd;
}

#profileBtn:hover {
    border: 1px solid black;
    transition: .4s;
}

.footer {
    margin-top: auto;
}







