* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #21252a;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 50px;
    font-size: 18px;
}

.intro-container h1 {
    margin-bottom: 15px;
}

.intro {
    margin-top: 30px;
    border-top: 2px solid #21252a;
}

.intro h2 {
    margin: 20px 0 25px 0;
}

.project {
    display: flex;
    flex-direction: column;
}

.project a {
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #eee;
    width: 450px;
}

.project a:hover {
    background-color :#ddd;
    transition: .4s;
}
