<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="container">
    <h1>Snack World</h1>
    <form th:action="@{/shop/login}" method="post" th:object="${userForm}">
        <div>
            <input type="text" id="loginId" name="loginId" placeholder="아이디" required autofocus/>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="비밀번호" required/>
        </div>
        <button type="submit">로그인</button>
        <span th:if="${message}" th:text="${message}" class="msg"></span>
    </form>
    <a href="/shop/register">회원가입</a>
</div>
<script>
    window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('success') === 'true') {
            alert("회원가입이 완료되었습니다! 신규 유저 혜택으로 100,000원이 지급되었습니다.");
        }
    };
</script>
</body>
</html>