<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>자기소개</title>
    <link rel="stylesheet" href="/css/selfIntroduce.css">
</head>
<body>
<div class="container">
    <!--<div class="profile">
        <img src="profile.jpg" alt="프로필 사진">
    </div>-->
    <div class="intro-container">
        <h1>이준호</h1>
        <h2>신입 백엔드 개발자</h2>
        <div class="intro self">
            <h3>자기소개</h3>
            <p>안녕하세요, 신입 백엔드 개발자 이준호입니다. 저는 5개월 과정의 Java 풀스택 개발자 교육을 이수하였습니다. <br>
                처음에는 HTML/CSS, JavaScript를 배우면서 웹의 프론트엔드 기초를 다졌습니다. <br>
                이후에 Node.js와 MySQL을 활용하여 서버 개발과, 데이터베이스 관리를 학습하였고, <br>
                Java와 SpringBoot를 집중적으로 공부하여 효율적이고 확장 가능한 백엔드 시스템을 구축하는데 필요한 기술을 습득하였습니다.
            </p>
        </div>
        <div class="intro stack">
            <h3>기술 스택</h3>
            <p>HTML/CSS, JavaScript, Node.js, MySQL, PostgreSQL, Git, Java, SpringBoot</p>
        </div>
        <div class="intro project">
            <h3>프로젝트</h3>
            <a href="/shop" style="font-weight: bold">SpringBoot를 이용한 스낵몰 서비스</a>
            <p>Github: <a href="https://github.com/ljh1234a/Snackmall">https://github.com/ljh1234a/Snackmall</a></p>
        </div>
    </div>
</div>
</body>
</html>