<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Snack World</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="header">
    <div class="header-top">
        <div class="right">
            <div th:if="${session.user != null && session.user.role == 'ROLE_ADMIN'}" class="topMenu">
                <a href="/shop/admin/product/new">상품추가</a>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_ADMIN'}" class="topMenu">
                <a href="/shop/admin/product">상품관리</a>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_ADMIN'}" class="topMenu">
                <a href="/shop/admin/users">회원목록</a>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_USER'}" class="topMenu">
                <span th:text="${session.user.username} + '님'"></span>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_USER'}" class="topMenu">
                <span th:text="'보유금액: ' + ${#numbers.formatInteger(userMoney, 3, 'COMMA')} + '원'"></span>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_ADMIN'}" class="topMenu">
                <span th:text="${session.user.username}"></span>
            </div>
            <div class="topMenu">
                <a href="/shop/noticeBoard">공지사항</a>
            </div>
            <div class="topMenu">
                <a href="/shop/showReviews">리뷰</a>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_USER'}" class="topMenu">
                <span>
                    <a href="/shop/cart" id="cart">장바구니
                    <span th:unless="${cartItems.size() == 0}" th:text="${cartItems.size()}" class="cartSize"></span>
                    </a>
                </span>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_USER'}" class="topMenu">
                <div class="dropdown">
                    <span>마이페이지</span>
                    <div class="dropdown-content" id="myPageUser">
                        <a href="/shop/profile">프로필</a>
                        <a href="/shop/shoppingList">구매목록</a>
                        <a href="/shop/logout">로그아웃</a>
                    </div>
                </div>
            </div>
            <div th:if="${session.user != null && session.user.role == 'ROLE_ADMIN'}" class="topMenu">
                <div class="dropdown">
                    <span>마이페이지</span>
                    <div class="dropdown-content" id="myPageAdmin">
                        <a href="/shop/profile">프로필</a>
                        <a href="/shop/admin/salesList">판매목록</a>
                        <a href="/shop/logout">로그아웃</a>
                    </div>
                </div>
            </div>
            <div th:if="${session.user == null}" class="topMenu">
                <a href="/shop/login">로그인</a>
                <a href="/shop/register">회원가입</a>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div class="top">
            <a href="/shop" id="home">
                <i class="fas fa-cookie-bite"></i>
                <h1>Snack World</h1>
                <i class="fas fa-ice-cream"></i>
            </a>
        </div>
    </div>
    <div class="header-bottom">
        <div class="left">
            <div class="topMenu">
                <a href="/shop" id="all">전체</a>
            </div>
            <div class="topMenu">
                <a href="/shop/popular" class="category">인기상품</a>
            </div>
            <div class="topMenu">
                <a href="/shop/category/snack" class="category">과자</a>
            </div>
            <div class="topMenu">
                <a href="/shop/category/drink" class="category">음료수</a>
            </div>
            <div class="topMenu">
                <a href="/shop/category/iceCream" class="category">아이스크림</a>
            </div>
            <div class="topMenu">
                <a href="/shop/category/chicken" class="category">치킨</a>
            </div>
            <div class="topMenu">
                <a href="/shop/category/pizza" class="category">피자</a>
            </div>
            <div class="topMenu">
                <a href="/shop/category/hamburger" class="category">햄버거</a>
            </div>
            <div class="topMenu">
                <div class="center">
                    <form th:action="@{/shop/search}" method="get" id="searchForm">
                        <input type="text" name="productName" placeholder="Search" id="searchInput">
                        <button type="submit">
                            <img src="/img/search.jpg">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="border-top"></div>
<div class="container">
    <div class="product-container">
        <div th:each="product : ${products}" class="product" data-category="${product.category}">
            <div class="image-container">
                <a th:href="@{/shop/product/details/{id}(id=${product.id})}">
                    <img th:src="'data:image/png;base64,' + ${product.imageUrl}" alt="상품 이미지">
                </a>
            </div>
            <div class="product-info">
                <p th:text="${product.name}"></p>
                <p th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')} + '원'"></p>
                <p th:unless="${product.avrRating}" style="margin-bottom: 15px;">
                    <span>&nbsp</span>
                </p>
                <p th:if="${product.avrRating}" style="margin-bottom: 15px;">
                    <i class="fa-solid fa-star"></i>
                    <span th:text="${#numbers.formatDecimal(product.avrRating, 1, 1)}" style="margin-right: 10px"></span>
                </p>
                <a th:if="${session.user != null && session.user.role == 'ROLE_ADMIN'}"
                   th:href="@{/shop/admin/product/addInventory/{id}(id=${product.id})}"
                   id="addBtn">재고 추가</a>
            </div>
        </div>
    </div>
    <div class="pagination" th:if="${products.size() > 0}">
        <a th:if="${hasPreviousGroup}"
           th:unless="${productName == null}"
           th:href="@{/shop/search(productName=${productName}, page=${currentGroupStartPage - 1}, size=${size})}">이전</a>

        <a th:if="${hasPreviousGroup}"
           th:unless="${productName}"
           th:href="@{/shop/(category=${category}, page=${currentGroupStartPage - 1}, size=${size})}">이전</a>

        <a th:if="${productName}"
           th:each="i : ${#numbers.sequence(currentGroupStartPage, currentGroupEndPage)}"
           th:href="@{/shop/search(productName=${productName}, page=${i}, size=${size})}"
           th:text="${i + 1}"
           th:classappend="${i == currentPage} ? 'active' : ''"></a>

        <a th:unless="${productName}"
           th:each="i : ${#numbers.sequence(currentGroupStartPage, currentGroupEndPage)}"
           th:href="@{/shop(category=${category}, page=${i}, size=${size})}"
           th:text="${i + 1}"
           th:classappend="${i == currentPage} ? 'active' : ''"></a>

        <a th:if="${hasNextGroup}"
           th:unless="${productName == null}"
           th:href="@{/shop/search(productName=${productName}, page=${currentGroupEndPage + 1}, size=${size})}">다음</a>

        <a th:if="${hasNextGroup}"
           th:unless="${productName}"
           th:href="@{/shop(category=${category}, page=${currentGroupEndPage + 1}, size=${size})}">다음</a>
    </div>
</div>
<div class="footer">
    <p>LeeJunHo 2024 SpringBoot SnackMall</p>
</div>
<script>
    window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);

        if (urlParams.has('adminOnly')) {
            alert('관리자 전용 페이지에는 접근할 수 없습니다.');
        }
        if (urlParams.has('message')) {
            alert(urlParams.get('message'));
        }

        const categoryLinks = document.querySelectorAll('.category');
        const activeCategory = localStorage.getItem('activeCategory');

        if (activeCategory) {
            const activeLink = document.querySelector(`a[href='${activeCategory}']`);
            if (activeLink) {
                activeLink.classList.add('active');
            }
        }

        categoryLinks.forEach(link => {
            link.addEventListener('click', function(e) {
                categoryLinks.forEach(link => link.classList.remove('active'));
                e.target.classList.add('active');

                localStorage.setItem('activeCategory', e.target.getAttribute('href'));
            });
        });

        const homeLink = document.getElementById('home');
        homeLink.addEventListener('click', function() {
            categoryLinks.forEach(link => link.classList.remove('active'));
            localStorage.removeItem('activeCategory');
        });

        const allLink = document.getElementById('all');
        allLink.addEventListener('click', function() {
            categoryLinks.forEach(link => link.classList.remove('active'));
            localStorage.removeItem('activeCategory');
        });

        const searchForm = document.getElementById('searchForm');
        searchForm.addEventListener('submit', function() {
            categoryLinks.forEach(link => link.classList.remove('active'));
            localStorage.removeItem('activeCategory');
        });
    };
</script>
</body>
</html>

